l<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <title>Holidays</title>
  </head>
  <body>
    <div class="container">
      <header class="page-header">
        <h1>Holidays in the United States</h1>
      </header>
        
        <form>
          <span>Date: <input name="select_date" type="text" id="datepicker" required></span>
          <br>
          <select name="country">
            <option value="">Country...</option>
            <option value="BE">Belgium</option>
            <option value="BR">Brazil</option>
            <option value="GB">Great Britian</option>
            <option value="US">United States of America</option>
          </select>
          <br>
          <button type="submit">Click for holidays</button>
        </form>

        <!-- Header -->
        <% if params.any? %>
          <h3>Holidays For The Selected Day</h3>
        <% else %>
          <h3>Holidays For This Month</h3>
        <% end %>

        <!-- If Day doesn't exist, its a deeper array -->
        <% if params.nil? %>
          <% @day.each do |day| %>
            <% day.each do |days| %>
              <ul>
                <li><strong><%= days['name'] %></strong>: <%= days['date'] %></strong></li>
              </ul>
            <% end %>
          <% end %>
        <!-- else its a single day. shallow array -->
        <% else %>
          <% @day.each do |day| %>
              <ul>
                <li><strong><%= day['name'] %></strong>: <%= day['date'] %></strong></li>
              </ul>
          <% end %>
        <% end %>

        <h3>Holidays During the Month I was Born</h3>
        <% @holidays.each do |holiday| %>
          <ul>
            <li><strong><%= holiday[0]['name'] %></strong>: <%= holiday[0]['date'] %></li>
          </ul>
        <% end %>
        <br>
    
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(function() {
      $( "#datepicker" ).datepicker();
      });
    </script>
  </body>
</html>